.navbar-brand {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.table th {
  border-top: none;
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}