.navbar-brand {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.table th {
  border-top: none;
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  background: linear-gradient(to right, #f87401, #6a11cb);
  margin: 2rem auto;
  padding: 3rem 2rem;
  border-radius: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
}

.navbar-brand {
  color: #f17516 !important;
}